body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
    font-family: "Chakra Petch", sans-serif;
    margin-top: 130px;
    padding: 20px;
    background-color: #eaeaea;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

.column {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.column img {
    width: 150;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header {
    font-family: "Chakra Petch", sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    z-index: 1000;
    height: 130px;
    display: flex;
    align-items: center; /* Asegura que todos los elementos se alineen verticalmente en el centro */
    justify-content: space-between; /* Separa el logo y el título del nav */
}

.logo {
    height: 60px; /* Ajusta la altura del logotipo */
    margin-left: 40px;
}

.site-title {
    margin: 0;
    color: white;
    font-size: 30px;
    flex-grow: 1; /* Permite que el título ocupe el espacio entre el logo y el nav */
    text-align: center;
    margin-right: 200px;
}

nav {
    display: flex;
    gap: 15px; /* Espacio entre los enlaces de navegación */
    margin-right: 270px;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #777;
    display: inline-block;
}

header nav a:hover {
    background-color: #555;
}

.logo {
    height: 100px; /* Ajusta la altura según sea necesario */
    margin-left: 20px; /* Espacio entre el logo y el título del sitio */
    vertical-align: middle; /* Alinea verticalmente el logo con el texto del título */
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 50px;
}
