body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
}

.content {
    display: flex;
    flex: 1;
    margin-top: 130px;
    padding: 20px;
    background-color: #ffffff;
}

header {
    font-family: "Chakra Petch", sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    z-index: 1000;
    height: 130px;
    display: flex;
    align-items: center; /* Asegura que todos los elementos se alineen verticalmente en el centro */
    justify-content: space-between; /* Separa el logo y el título del nav */
}

.logo {
    height: 60px; /* Ajusta la altura del logotipo */
    margin-left: 40px;
}

.site-title {
    margin: 0;
    color: white;
    font-size: 30px;
    flex-grow: 1; /* Permite que el título ocupe el espacio entre el logo y el nav */
    text-align: center;
    margin-right: 200px;
}

nav {
    display: flex;
    gap: 15px; /* Espacio entre los enlaces de navegación */
    margin-right: 270px;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #777;
    display: inline-block;
}

header nav a:hover {
    background-color: #555;
}

.logo {
    height: 100px; /* Ajusta la altura según sea necesario */
    margin-left: 20px; /* Espacio entre el logo y el título del sitio */
    vertical-align: middle; /* Alinea verticalmente el logo con el texto del título */
}

.sidebar {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    text-align: justify;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar form label {
    display: block;
    margin-bottom: 10px;
}

.sidebar form input,
.sidebar form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.sidebar form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar form button:hover {
    background-color: #555;
}

.main-content {
    width: 70%;
    padding: 20px;
    text-align: left;
    background-color: #eaeaea;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px;
    position: relative;
    width: 100%;
}
